body{
    text-align: center;
    background-image: url("logo.jpg");
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#role{
    margin-top: 200px;
    width: 200px;
    height: 40px;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background:grey;

}
