body{
    text-align: center;
    background: lightgoldenrodyellow;
}
#r{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;

}
#btn-r{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-top: 55px;
    margin-right: 40px;
    margin-bottom: 20px;
    background-image: url("rock.jpeg");
    background-size: cover;
    border:1px solid rgb(85, 78, 78);
    border-radius: 20px;

}
#btn-p{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-top:55px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-image: url("paper.jpeg");
    background-size: cover;
    border: 1px solid rgb(85, 78, 78);
    border-radius: 20px;



}
#btn-s{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-top: 55px;
    margin-bottom: 10px;
    margin-left: 40px;
    background-image: url("scissor.jpeg");
    background-size: cover;
    border: 1px solid rgb(85, 78, 78);
    border-radius: 20px;


}

#clear{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("red.png");
    background-size: cover;
    border:1px solid rgb(85, 78, 78);
    border-radius: 20px;
}
#score{
    color: rgb(165, 121, 11);
    margin-bottom: 20px;
    font-style: italic;
    font-size: large;

}
#show{
    margin-bottom: 20px;
    color: rgb(167, 109, 221);
    font-size: large;
    
}
#result{
    color:rgb(26, 97, 26) ;
    font-style: oblique;
    font-size: x-large;
}
h3{
    margin-top: 50px;
}
h2{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: xx-large;
    font-style: oblique;
}
#color{
    color: brown;
}